*{margin: 0; padding: 0;}

header { 

    background-color: green;
    color: white;
    display: flex;
    justify-content:space-around;
    
     }
    
    section {background-color: green;
        color: white;}


        .fotos {display: flex; justify-content: space-around;}

        .texto { display:flex; justify-content: space-around;}